body {
    font-family: 'Itim', cursive;
    /*font-family: 'Dancing Script', cursive;
    font-family: 'Kelly Slab', cursive;*/
}

div.container-fluid.one {
    background: url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

div.container.two {
    text-align: center;
    padding: 20px 20px 50px 20px;
}

div.container-fluid.three {
    background-color: lavender;
    padding: 20px;
    text-align: center;
}

div.container-fluid.four {
    background-color: papayawhip;
    padding: 20px;
    text-align: center;
}

div.container-fluid.five {
    background-color: mediumturquoise;
    text-align: center;
    padding: 25px;
}

div.container-fluid.six {
    padding: 20px;
    background-color: darkslategray;
    color: white;
    text-align: center;
}

div.container-fluid.seven {
    padding: 30px;
    text-align: center;
    background-color: lightpink;
}

div.container-fluid.eight {
    padding: 20px;
    text-align: center;
}

div.col-sm-3.firstcol {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2.firstheading {
    text-align: left;
    font-size: 45px;
    padding: 10px;
}

h2.secondheading {
    font-size: 45px;
    padding: 10px;
    color: steelblue;
}

h2.thirdheading {
    font-size: 45px;
    padding: 10px;
    color: purple;
}

h2.fourheading {
    font-size: 45px;
    padding: 10px;
    color: mediumvioletred;
}

h2.fiveheading {
    font-size: 45px;
    padding: 10px;
}

h1 {
    font-size: 50px;
    padding: 15px;
}

h4 {
    font-size: 30px;
    padding: 10px;
}

p.firstp {
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

p.secondp {
    padding: 10px;
}

h3.thirdp {
    padding-bottom: 20px;
}

i.fa-3x {
    padding: 10px;
    color: hotpink;
}

div.col-sm-6 img {
    padding: 20px 0 10px 100px;
}

div.col-sm-6 {
    padding: 0 30px 20px 40px;
}

div.col-sm-3.brandone {
    padding: 10px;
    text-align: center;
}

img.imgone {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

p.logo {
    font-size: 20px;
    padding: 10px;
}

ul li {
    list-style-type: none;
    padding: 10px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: black;
    font-family: 'Kelly Slab', cursive;
    padding: 15px
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 4.5rem;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {display: block;}
